.Screen{
    margin-top:0px;
    width:100vw;
    height:25vh;
    background-color: rgb(128, 119, 119);
    border: 2px red solid;
}

.Screen > h1{
    padding-top:10px;
    font-size:50%;
}

/* @media screen and (max-width:768px)
{
    .Screen{
        width:762px;
    }
    .Screen > h1{
        font-size:30px;
      
    }
} */
